.about {
  padding: 40px 0 120px;

  @media screen and (max-width: 576px) {
    padding: 40px 0 60px;
  }

  .content-text-strong {
    margin-bottom: 20px;
  }

  .content-list {
    margin: 20px 0;
  }
}
