.footer {
  background: #232D37;
  padding: 60px 0 80px;
  flex: 0 0 auto;

  @media screen and (max-width: 576px) {
    padding: 40px 0;
  }

  &__body {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__logo-wrapper {
    margin-right: 30px;

    @media screen and (max-width: 768px) {
      margin: 0 0 45px 0;
    }

    @media screen and (max-width: 480px) {
      margin: 0 0 30px 0;
    }
  }

  &__logo {
    fill: #FFFFFF;
  }

  &__navigation {
    display: flex;

    @media screen and (max-width: 480px) {
      flex-direction: column;
    }
  }

  &__nav-wrapper {
    &:not(:last-child) {
      margin-right: 130px;

      @media screen and (max-width: 480px) {
        margin: 0 0 30px 0;
      }
    }
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
  }

  &__nav {
    margin-top: 20px;

    @media screen and (max-width: 480px) {
      margin: 10px 0 0 0;
    }
  }

  &__nav-item {
    &:not(:last-child) {
      margin-bottom: 20px;

      @media screen and (max-width: 480px) {
        margin: 0 0 10px 0;
      }
    }
  }

  &__nav-link {
    font-size: 14px;
    line-height: 120%;
    color: rgba(225, 225, 225, 0.5);
    position: relative;

    &:before {
      position: absolute;
      content: '';
      left: 0;
      bottom: -5px;
      height: 1px;
      width: 0;
      background: rgba(225, 225, 225, 0.5);
      transition: all 0.3s ease 0s;
    }

    &:hover {
      &:before {
        width: 100%;
      }
    }
  }

  &__bottom {
    margin-top: 180px;
    text-align: center;

    @media screen and (max-width: 768px) {
      margin-top: 100px;
      text-align: left;
    }

    @media screen and (max-width: 576px) {
      margin-top: 40px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 120%;
    color: #FFFFFF;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}