@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/Inter-Regular.ttf);
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url(assets/fonts/Inter-SemiBold.ttf);
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url(assets/fonts/Inter-Bold.ttf);
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #222222;
  scroll-behavior: smooth;
  z-index: 1;
  background: #FFFFFF;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.content-title {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #222222;

  @media screen and (max-width: 992px) {
    font-size: 39px;
  }

  @media screen and (max-width: 576px) {
    font-size: 30px;
  }
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 49px;
  padding: 15px;
  max-width: 261px;
  width: 100%;
  position: relative;
  background: #FFC200;
  border-radius: 5px;
  border: 1px solid #FFC200;

  &__link {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  &__text {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  &:hover {
    transition: all 0.3ms ease-in;
    background: transparent;

    .button__text {
      color: #222222;
    }
  }
}